.category-โปเกมอน {
    color: red;
}

.category-สเตเดียม {
    color: blue;
}

.category-ไอเท็ม {
    color: green;
}

.category-ไอเท็มติดโปเกมอน {
    color: cornflowerblue;
}

.category-ซัพพอร์ต {
    color: purple;
}
